@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@600&family=Ultra&display=swap');
$titleFont:'Black Ops One', cursive;

.page_container{
    display: flex;
    flex-direction: column; 
    padding: 50px;
    width: 100%;
    max-width: 1200px;
    row-gap: 10px;
    .page_title{
        font-size: 40px;
        font-family: $titleFont;
    }
    .addProduct_btn{
        width: 130px;
        height: 30px;
        font-family: $titleFont;
        background-color: #5ea7df;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    &>table{
        border-collapse: collapse;
        min-width: 1000px;
        width: 100%;
        &>thead{
            height: 30px;
        }
        &>tbody{
            text-align: center;
            height: 100px;
            tr:nth-child(even){
                background-color: #fbedd3;
            }
            &>tr>td{
                width: 120px;
                &>img{
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
                &>button{
                    margin: 0px 2px;
                    width: 50px;
                    height: 25px;
                    border: none;
                    border-radius: 5px;
                }
                .edit_btn{
                    background-color: grey;
                    color: #FFFFFF;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #5ea7df;
                    }
                }
                .delete_btn{
                    background-color: rgb(255, 101, 101);
                    color: #FFFFFF;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #5ea7df;
                    }
                }
            }
        }
    }
}

.addProduct_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(105, 105, 105,.3);
    .addProduct_frame{
        width: auto;
        height: auto;
        padding: 40px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px ;
        border-radius: 20px;
        &>h2{
            text-align: center;
            font-family: $titleFont;
            font-size: 28px;
        }
        &>form{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            font-size: 18px;
            .addProduct_info{
                &>label{
                    display: inline-block;
                    min-width: 150px;
                }
                &>input{
                    min-width: 200px;
                    padding: 0px 5px;
                }
                
            }
            .addProduct_btnBox{
                display: flex;
                justify-content: center;
                column-gap: 10px;
                &>button{
                    width: 80px;
                    height: 30px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: $titleFont;
                    &:hover{
                        color: red;
                    }
                }
                .action_btn{
                    background-color:rgb(105, 105, 255) ;
                }
                .cancel_btn{
                    background-color: rgb(255, 127, 127);
                }
            }
        } 
    }
}
