@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@600&family=Ultra&display=swap');
$titleFont:'Black Ops One', cursive;
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    .form-container{
        display: flex;
        justify-content: center;
        width:100% ;
        max-width: 1200px;
        .login-form{
            background-color: #EFEFEF;
            padding: 20px 100px;
            display: flex;
            align-items: center;
            row-gap: 5px;
            width: 80%;
            flex-direction: column;
            
            &>h1{
                font-size: 50px;
                font-family: $titleFont;
                padding: 15px;
            }
            .login-detail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                row-gap: 20px;
                &>label{
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    width: 100%;
                    font-family: $titleFont;
                }
                &>input{
                    width: 100%;
                    height: 40px;
                    padding: 0px 10px;
                }
            }
            button{
                min-width: 150px;
                width: 50%;
                height: 30px;
                font-size: 20px;
                font-family: $titleFont;
                margin: 20px;
                transition: all 0.5s;
                &:hover{
                    background-color: black;
                    color: #FFFFFF;
                    transform: scale(1.05);
                }
            }
            .navigateLink{
                text-decoration: none;
                color: black;
                font-size: 20px;
                &:hover{
                    color: red;
                    text-decoration: underline;
                }
            }
        }
        .login-namebox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 0px;
            row-gap: 20px;
            column-gap:20px;
            &>div{
                display: flex;
                flex-direction: column;
                font-size: 25px;
                font-weight: 700;
                text-align: left;
                width: 100%;
                &>label{
                    padding: 20px 0px;
                    font-size: 20px;
                    font-family: $titleFont;
                }
                &>input{
                    width: 100%;
                    height: 40px;
                    padding: 0px 10px;
                }
            }
        }
        .err-msg{
            color: red;
            display: none;
        }
    }
}